@media all and (min-width: 480px) {
  .urlshortener {
    padding: 60px 0;
  }

  .urlshortener form {
    margin: 0 auto;
    max-width: 320px;
  }

  .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 5%;
      size: 50px;
  }
}
